/**
 * Form elements
 */

select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    padding: 5px 3px;
    color: $contentColor;
    background: $contentInverseColor;
    outline: none;
    border-radius: $border-radius;
    border: 1px solid $secondaryBorderColor;
}

select, input {
    &.secondary-input {
        border-radius: $border-radius-100;
        border: 1px solid $borderColor;
        padding: 5px 10px;
    }
}

input[type=radio] {
    &:checked, &:not(:checked) {
        position: absolute;
        opacity: 0;

        & + label {
            position: relative;
            padding-left: 22px;
            cursor: pointer;
            line-height: 1em;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid $borderColor;
                border-radius: 100%;
                background: $contentInverseColor;
            }
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                background: $primaryBrandColor;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                transition: all 0.2s ease;
            }
            &:hover:before, &:active:before, &:focus:before {
                border: 1px solid $primaryBrandColor;
            }
        }
    }
    &:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    &:checked + label:before {
        border: 1px solid $primaryBrandColor;
    }
    &:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;

    & + label {
        position: relative;
        cursor: pointer;
        font-size: inherit;

        &:before {
            line-height: 1em;
            content: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Artboard</title><path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" fill="#DEDEDE" fill-rule="nonzero"/></svg>');
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            width: 16px;
            height: 16px;
            border-radius: $BORDER_RADIUS;
        }
    }
    &:checked + label:before {
        content: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Artboard</title><g fill="none" fill-rule="evenodd"><path d="M2 0h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" fill="#2A3052"/><path d="M4.854 8.144a.5.5 0 1 0-.708.706l2 2.003a.5.5 0 0 0 .708 0l5-5a.5.5 0 0 0-.708-.707L6.5 9.793l-1.646-1.65z" fill="#FFF" fill-rule="nonzero"/></g></svg>');
    }
    &:not(:checked):hover + label:before, &:not(:checked):focus + label:before {
        content: svg-url('<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Artboard</title><path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" fill="#2A3052" fill-rule="nonzero"/></svg>');
    }
}

fieldset {
    border: 1px solid $fillColor;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $secondaryContentColor;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $secondaryContentColor;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $secondaryContentColor;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $secondaryContentColor;
}

//Jquery ui Selectmenu
.ui-widget-content .ui-state-default.ui-selectmenu-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: 1px solid $secondaryBorderColor;
    color: $contentColor;
    background: $contentInverseColor;
    border-radius: $border-radius;
}

.text-display {
    display: block;
    font-weight: $font-weight-regular;
    border: 1px solid $fillColor;
    padding: 5px 10px;
    border-radius: $border-radius;
}
